<style type="text/css">
html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{display:block;color: #981793;padding:10px}
div#header h1{height:18%;line-height:90px;margin:0;
  padding-left:10px;background: #B03C7A;color: #FFFFbF;    }
div#content p{line-height:1.4}

div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:3px 3px}

div#container{position:absolute;width:100%;height:100%;top:0;left:0}
div#wrapper{float:right;width:100%;margin-left:-200px}
div#content{width:auto;height:75%}

div#extra{float:left;clear:left;width:200px}
div#footer{clear:both;width:100%}
.estilo2 {font-family: "rage Italic";font-size: 26px;}
.estilo1 {font-family: "brush Script MT";font-size: 24px;}
.estilo3 {font-family: "chiller";font-size: 35px;}
.estilo4 {font-family: "curlz MT";font-size: 30px;}
.estilo5 {font-family: "french Script MT";font-size: 30px;}
.estilo6 {font-family: "Gigi";font-size: 30px;}
.estilo7 {font-family: "Harringtom";font-size: 30px;}
.estilo8 {font-family: "juice ITC";font-size: 30px;}
/*-------------------------
Bordeo de las Esquinas
---------------------------*/
 .rounded {
 margin: 1em;
 padding: 0;
 }



blockquote {
 background: #666666;
 color: white;
 margin-right: -1px;
}


 p.quotee {
 text-align: right;
 margin: -1px 0;;
 font-weight: bold;
 color: #eee;
 }

 
#corners img {
 margin: 1em;
 border: 1px solid black;
 padding: 0;
 background: #a0a0a0;
}

pre.rounded {
 background: #ffeed0;
}

p.footer {
 margin: 1em;
 padding: 0.5em;
 text-align: center;
 border: 1px solid black;
}

.rounded:before {
 background: transparent url(/images/top-right.png) scroll no-repeat top right;
 margin-bottom: -20px;
 height: 30px;
 display: block;
 border: none;
 content: url(/images/top-left.png);
 padding: 0;
 line-height: 0.1;
 font-size: 1px;
}

.rounded:after {
 display: block;
 line-height: 0.1;
 font-size: 1px;
 content: url(/images/bottom-left.png);
 margin: 2px 0 0 0;
 height: 30px;
 background: transparent url(/images/bottom-right.png) scroll no-repeat bottom right;
 padding: 0;
}

 .rounded * {
 padding-left: 35px;
 padding-right: 35px;

 }

/*-------------------------
Bordeo de las Esquinas
---------------------------*/
 .rounded2 {
 margin: 1em;
 padding: 0;
 }


blockquote2 {
 background: #666666;
 color: white;
 margin-right: -1px;
}

pre.rounded2 {
 background: #ffeed0;
}


.rounded2:before {
 background: transparent url(/images/top-right.png) scroll no-repeat top right;
 margin-bottom: -20px;
 height: 30px;
 display: block;
 border: none;
 content: url(/images/top-left.png);
 padding: 0;
 line-height: 0.1;
 font-size: 1px;
}

.rounded2:after {
 display: block;
 line-height: 0.1;
 font-size: 1px;
 content: url(/images/bottom-left.png);
 margin: 2px 0 0 0;
 height: 30px;
 background: transparent url(/images/bottom-right.png) scroll no-repeat bottom right;
 padding: 0;
}

 .rounded2 * {
 padding-left: 35px;
 padding-right: 35px;

 }



/* --------------------------------

   Navigation

----------------------------------- */

.navigation {
	background: #353535 url('img/navigation.jpg') repeat-x;
	border-bottom: 1px solid #222;
	border-top: 1px solid #555;
}

.navigation ul {display: inline; margin: 0;}

.navigation ul li {
	border-right: 1px solid #303030;
	float: left;
	list-style: none;
}

.navigation a {
	color: #AAA;
	display: block;
	
	font-family:"rage Italic"
	padding: 7px 10px;
	text-decoration: none;
}

.navigation a:hover {
	background: #444;
	color: #E5E5D5;
	text-decoration: none;
}

.navigation li.current_page_item a {
	background: none;
	color: #EEE;
}



/* Sub navigation */

#subnav a {
	padding: 10px;
	font-size: 0.9em;
}




</style>
