<% 1.upto(10) do |i| %>
<td>
<a id="example5" class="fancybox" href="/images/quinces/<%=i%>_peq.png" title="Tortas de Quincea&ntilde;os" ><img src="/images/quinces/<%=i%>_peq.png" height="380px">
</a>
</td>

<% end %>
