<% 1.upto(10) do |i| %>
<td>
<a id="example5" class="fancybox" href="/images/martris/<%=i%>_grand.png" title="Tortas de Matrimonio" ><img src="/images/martris/<%=i%>_grand.png" height="380px">
</a>
</td>

<% end %>

